<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="../../../assets/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../../global.css" />
    <link rel="stylesheet" href="./finances.css" />

    <title>Money - Home</title>
  </head>
  <body>
    <div class="container">
      <h1>Money - Home</h1>
      <p>
        Information on different types of investments, strategies, and advice on
        choosing investment instruments.
      </p>
      <p>This is a page about finance.</p>

      <a href="../../../../index.html" class="button">Back to the main page</a>
    </div>
  </body>
</html>
