<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="../../../assets/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../../global.css" />
    <link rel="stylesheet" href="./finances.css" />

    <title>Гроші - Головна</title>
  </head>
  <body>
    <div class="container">
      <h1>Гроші - Головна</h1>
      <p>
        Інформація про різні види інвестицій, стратегії та поради щодо вибору
        інвестиційних інструментів.
      </p>
      <p>Це сторінка про фінанси.</p>

      <a href="../../../../index.ua.html" class="button"
        >Повернутися на головну сторінку</a
      >
    </div>
  </body>
</html>
